.nav-bar {
  background-color: #1e1e30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
.logo-title {
  color: white;
  margin: 0px;
  font-size: 20px;
  font-family: 'Bree serif';
  font-weight: 500;
}
.highlight-word {
  color: #007bff;
}
.menu-button {
  border: none;
  outline: none;
  background-color: transparent;
}
.menu-logo {
  width: 34px;
  height: 34px;
  cursor: pointer;
}
.option-container-small-device {
  display: flex;
  align-items: center;
  padding: 10px 35px;
  margin: 0px;
  height: 100px;
  background-color: #161625;
}
.option-text {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  color: #94a3b8;
  margin-right: 32px;
}
.option-text:hover {
  color: #ffffff;
  font-weight: 500;
  transition: color 100ms ease-in-out;
}
.cross-icon {
  margin-left: auto;
}
.option-container {
  display: none;
}
.link {
  text-decoration: none;
}
.home-highlight {
  color: white;
  font-weight: 500;
}
.about-highlight {
  color: white;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .option-container-small-device {
    display: none;
  }
  .nav-bar {
    padding: 30px 150px;
  }
  .menu-logo {
    display: none;
  }
  .option-container {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    width: 200px;
  }
}
